{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/home.css') }}" />
<title>Home</title>
{% endblock %}

{% block content %}
<div class="media-search">
  <input type="text" placeholder="Enter name the movie">
</div>

<div class="popular-movie">
  <h2>Popular</h2>

  <div class="movie-list">
    {% for link in links %} 
      <a href="#">
        <img src="{{ link.url }}" alt="hello world">
        <div class="movie-rating 
            {% if link.rating|int >= 8 %}
              rating-green
            {% elif link.rating|int >= 5 %}
              rating-yellow
            {% else %}
              rating-red
            {% endif %}">
          {{ link.rating }}<sup>*</sup>
        </div>
        <div class="movie-name">{{ link.name }}</div>
      </a> 
    {% endfor %}

  </div>
</div>
{% endblock %}
