{% extends "base.html" %} 
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/search.css')}}" />
<title>Search</title>
{% endblock %} 

{% block content %}
<div class="search-results">
    {% for movie in movies %}
      <div class="result">
        {% if movie != "Not found" %}
          <a href="/pages/movie/{{ movie.id }}"><img src="{{ movie.poster_path }}" alt="poster"></a>

          <div class="result-discription">
            <a href="/pages/movie/{{ movie.id }}" class="result-name">{{ movie.title }}</a>
            <p class="result-date">{{ movie.date }}</p>
            <p class="result-overview">{{ movie.overview }}</p>
          </div>
        {% else %}
          <div class="result-discription">
            <h3>Movie not found</h3>
          </div>
        {% endif %}
      </div>
    {% endfor %}
</div>
{% endblock %}
