<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/account.css') }}"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/Favicon/favicon.ico') }}"
    />

    <title>Sing up</title>
  </head>

  <body>
    <form action="create" method="post" onsubmit="validateForm(event)">
      <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <a href="/pages/home">Home</a>
        <hr />

        <label for="email"><b>Email</b></label>
        <input
          type="text"
          placeholder="Enter Email"
          name="email"
          id="email"
          required
        />

        <label for="psw"><b>Username</b></label>
        <input
          type="text"
          placeholder="Enter Username"
          name="username"
          id="username"
          required
        />

        <label for="psw-repeat"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          id="password"
          required
        />
        <hr />
        <button type="submit" class="registerbtn">Register</button>
      </div>
    </form>
  </body>

  <script>
    function validateForm(event) {
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;

      var emailValid = email.includes("@");
      var passwordValid = password.length >= 8;

      if (!emailValid && !passwordValid) {
        alert("Incorrect email and password must be at least 8 characters.");
        event.preventDefault();
      } else if (!emailValid) {
        alert("Incorrect email.");
        event.preventDefault();
      } else if (!passwordValid) {
        alert("Password must be at least 8 characters.");
        event.preventDefault();
      }
    }
  </script>
</html>
