<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/account.css') }}" />
  <title>Sing up</title>
</head>

<body>
  <form action="login" method="post">
    <div class="container">
      <h1>Login</h1>
      <p>Please fill in this form to login an account.</p>
      <a href="/pages/home">Home</a>
      <hr />

      <label for="psw"><b>Email</b></label>
      <input type="text" placeholder="Enter email" name="email" id="email" required />

      <label for="psw-repeat"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="password" required />
      <hr />
      <button type="submit" class="registerbtn">Login</button>
    </div>
  </form>
</body>

</html>
