.search-results {
  display: block;
  position: absolute;
  width: 1200px;
  height: 100vh;
  box-sizing: border-box;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result {
  display: flex;
  height: 200px;
  margin: 20px 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid #888;
  border-radius: 10px;
}

.result:last-child {
  margin-bottom: 0;
}

.result img {
  border-radius: 10px;
  width: 150px;
  height: 100%;
}

.result-discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.result-name,
.result-date {
  margin-left: 5px;
}

.result-name {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
}

.result-date {
  font-size: 14px;
  margin-bottom: 10px;
}

.result-overview {
  font-size: 15px;
  margin-left: 5px;
}
